<%= form_for(@variety_note) do |f| %>
  <% if @variety_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variety_note.errors.count, "error") %> prohibited this variety_note from being saved:</h2>

      <ul>
      <% @variety_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :variety_id %><br>
    <%= f.collection_select :variety_id, @variety, :id, :name  %>
  </div>
  
  <div class="field">
    <%= f.label :variety_note %><br>
    <%= f.text_area :variety_note %>
  </div>
  <div class="field">
    <%= f.label :variety_note_date %><br>
    <%= f.date_select :variety_note_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
