<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variety.name %>
</p>

<p>
  <strong>Breeeder:</strong>
  <%= @variety.breeeder %>
</p>

<p>
  <strong>Mom:</strong>
  <%= @variety.mom_id %>
</p>

<p>
  <strong>Dad:</strong>
  <%= @variety.dad_id %>
</p>

<p>
  <strong>Display_color:</strong>
  <%= @variety.display_color %>
</p>

<%= link_to 'Edit', edit_variety_path(@variety) %> |
<%= link_to 'Back', varieties_path %>
