<%= form_for(@seed) do |f| %>
  <% if @seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seed.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
      <% @seed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :variety_id %><br>
    <%= f.collection_select :variety_id, @variety, :id, :name  %>
  </div>


  <div class="field">
    <%= f.label :seed_number %><br>
    <%= f.text_field :seed_number %>
  </div>
  <div class="field">
    <%= f.label :harvest_days %><br>
    <%= f.number_field :harvest_days %>
  </div>
  
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
