<h1>Listing seeds</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Variety</th>
      <th>Seed number</th>
      <th>Sex</th>      
      <th>Harvest days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= link_to seed.variety.name, seed.variety %></td>
        <td><%= seed.seed_number %></td>
        <td style="background-color:<%= seed.variety.display_color %>;"><%= seed.sex %></td>
        <td><%= seed.harvest_days %></td>
        <td><%= link_to 'Show', seed %></td>
        <td><%= link_to 'Edit', edit_seed_path(seed) %></td>
        <td><%= link_to 'Destroy', seed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed', new_seed_path %>
