<p id="notice"><%= notice %></p>

<p>
  <strong>Variety:</strong>
  <%= @seed.variety_id %>
</p>

<p>
  <strong>Seed number:</strong>
  <%= @seed.seed_number %>
</p>

<p>
  <strong>Harvest days:</strong>
  <%= @seed.harvest_days %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @seed.sex %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
